.visor {
  width: 400px;
  height: 120px;
  border: 1px solid #ddd;
  background-color: #76767676;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
}

.visor-number {
  font-size: 30px;
  color: #dddd;
  font-weight: 600;
}
